/* цвет текста 
        #212121
         #757575
          #FFFFFF
          #2196F3 */
          /* футер бекграунд #2F303A */
    
:root {
    --primary-text-color: #757575 ;
    --title-text-color : #212121;
    --accent-color :  #2196F3;
    --primery-white-color :  #FFFFFF;
    --primery-bg-color : #2F303A;
    --foot-contacts-color :rgba(255, 255, 255, 0.6);
    --hiro-btn-hover-color : #188CE8;
    --teem-bg-color : #F5F4FA;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {  
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primery-white-color );
    color: var(--primary-text-color);
    }
    
    .list {
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
    }
    .section {
        width: 1600px;
        padding-top: 94px;
        padding-bottom: 94px;
        margin-right: auto;
        margin-left: auto;
    }

    .zero{
        padding-bottom: 0;
        padding-top: 0;
    }

    .container {
        width: 1200px;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 94px;
    }

    .head-container{
        display: block;
        width: 1600px;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;
        border-bottom: 1px solid #ECECEC;
    }

    .main-nav {
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 1600px;
        align-items: center;
    }

    /* logotype */
    .logo{ 
        display: inline-block;
        margin-left: 215px;
        margin-right: 93px;

        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .logo .web,
    .foot .web{
        color: var(--accent-color) ;
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .logo .studio{
        color:  var(--title-text-color);
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    .studio-foot{
        color: var(--primery-white-color);
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
    }

    /*  Site navigation */

    .site-nav {
        display: flex;
    }

    .site-nav .link .list.current{
        color: var(--accent-color);
    }

    .site-nav .item {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .link .text {
        color: var(--title-text-color);
    }

    .site-nav .item + .item {
        margin-left: 50px;
    }

    .site-nav.address {
        margin-left: 331px;
    }

    .site-nav .link :hover,
    .site-nav .link :focus {
        color: var(--accent-color);
    }

    .address .link :hover,
    .address .link :focus{
        color: var(--accent-color);
    }

    .foot .address .link :hover,
    .foot .address .link :focus{
        color: var(--primery-white-color);
    }

    .site-nav.address .link + .link{
        margin-left: 50px;
    }

    .contacts{
        font-weight: 500;
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;

        font-weight: 500;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
    }

    .menu{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: var(--title-text-color );
    }

     /* buttons */

    .hiro-btn{
        display: inline-block;
        border-radius: 4px;
        padding: 10px 32px;

        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        color: var(--primery-white-color);
        background-color: var(--accent-color)
    }

    .hiro .hiro-btn :hover,
    .hiro .hiro-btn :focus{
        background-color: var(--hiro-btn-hover-color);
    }

     /* hiro section */

    .hiro{
        min-width: 1600px;
        min-height: 600px;
        text-align: center;
        background-color:var(--primery-bg-color);
    }

    .spacing{
        letter-spacing: 0.06em;
        margin-left: 24px;
    }

    .hiro-title{
        margin-bottom: 30px;
         padding: 200px 452px 0px 452px;

         font-weight: 900;
         font-size: 44px;
         line-height: 1.36;
         color: var(--primery-white-color);
        
    }

    /* features */

    .features {
        display: flex;
        justify-content: space-around;
        min-width: 270px;
    }

    .engaged-container{
        min-width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .engaged {
        display: flex;
        justify-content: center;
    }

    .engaged .item + .item {
        margin-left: 30px;
    }

    /* our team */

    .team {
        display: flex;
        justify-content: center;
    }

    .team .item .name{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .team .item .text{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 30px;
    }


    .team .item{
        width: 270px;
        background-color: var(--primery-white-color);
    }

    .team-container{
        min-width: 1600px;
        min-height: 648px;
        padding-top: 94px;
        padding-bottom: 94px;
        background:var(--teem-bg-color);
    }

    .team .item + .item {
        margin-left: 30px;
    }

    .section-title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.16; 
        color: var(--title-text-color);
    }

    .text-title {
        margin-top: 0;
        margin-bottom: 10px;

        font-size: 14px;
        line-height: 1.14;
    }

    .list .text-title {
        font-size: 18px;
        line-height: 2;
        color: var(--title-text-color );
    } 

    .list .text-title .name{
        font-weight: 500;
    }

    .features .item {
        width: 270px;
    }

    .text{
        margin-top: 0;
        margin-bottom: 0;

        font-size: 14px;
        line-height: 1.71;
        color: var(--primary-text-color);
    }

    /* Footer */

    .foot .logo {
        margin-right: 0px;
        margin-bottom: 20px;
        margin-top: 60px;
    }
    .foot .link{
        margin-top: 9px;
    }

    .bg{
        width: 1600px;
        min-height: 252px;
        justify-items: center;
        margin-right: auto;
        margin-left: auto;

        background-color:  var(--primery-bg-color);
    }

    .bg .address{
        margin-left: 215px;
        margin-bottom: 60px;

        line-height: 1.71;
    }

    .address .place{
        font-style: normal;
        color: var(--primery-white-color);
    }
    .foot .contact {
        font-style: normal;
        color: var(--foot-contacts-color);
    }

    /* page two */

    /* main-section */

    .main-container{
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

     /* filters button */

    .btn {
        display: inline-block;
        border-radius: 4px;
        height: 38px;
        padding: 6px 22px;

        cursor: pointer;
        background: #F5F4FA;
        border-color:  #F5F4FA;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87; 
    }

    .button {
        display: inline-block;
    }

    .button :hover,
    .button :focus {
        color: var(--primery-white-color);
        background-color: var(--accent-color)
    }

    /* portfolio */

    .portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio .item{
        display: block;
        background: #FFFFFF;
        border-bottom: 1px solid #EEEEEE;
        box-sizing: border-box;
    }

    .filters.list {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        
    }

    .list .button + .button {
        margin-left: 8px;
    }

     

    .portfolio :nth-child(n + 4) {
        margin-top: 30px;
    }

    .portfolio .item .text{
        margin-left: 24px;
    }